c --arena=0
c --arenacompact=0
c --arenasort=0
c --arenatype=0
c --binary=0
c --block=0
c --blockmaxclslim=0
c --blockminclslim=0
c --bump=0
c --bumpreason=0
c --bumpreasondepth=0
c --chrono=0
c --chronoalways=0
c --chronolevelim=0
c --chronoreusetrail=0
c --compact=0
c --compactint=0
c --compactlim=0
c --compactmin=0
c --condition=0
c --conditionint=0
c --conditionmaxeff=0
c --conditionmaxrat=0
c --conditionmineff=0
c --conditionreleff=0
c --cover=0
c --covermaxclslim=0
c --covermaxeff=0
c --coverminclslim=0
c --covermineff=0
c --coverreleff=0
c --decompose=0
c --decomposerounds=0
c --deduplicate=0
c --eagersubsume=0
c --eagersubsumelim=0
c --elim=0
c --elimands=0
c --elimaxeff=0
c --elimbackward=0
c --elimboundmax=0
c --elimboundmin=0
c --elimclslim=0
c --elimequivs=0
c --elimineff=0
c --elimint=0
c --elimites=0
c --elimlimited=0
c --elimprod=0
c --elimreleff=0
c --elimrounds=0
c --elimsubst=0
c --elimsum=0
c --elimxorlim=0
c --elimxors=0
c --emagluefast=0
c --emaglueslow=0
c --emajump=0
c --emalevel=0
c --emasize=0
c --ematrailfast=0
c --ematrailslow=0
c --flush=0
c --flushfactor=0
c --flushint=0
c --forcephase=0
c --inprocessing=0
c --instantiate=0
c --instantiateclslim=0
c --instantiateonce=0
c --lucky=0
c --minimize=0
c --minimizedepth=0
c --phase=0
c --probe=0
c --probehbr=0
c --probeint=0
c --probemaxeff=0
c --probemineff=0
c --probereleff=0
c --proberounds=0
c --profile=0
c --radixsortlim=0
c --realtime=0
c --reduce=0
c --reduceint=0
c --reducetarget=0
c --reducetier1glue=0
c --reducetier2glue=0
c --reluctant=0
c --reluctantmax=0
c --rephase=0
c --rephaseint=0
c --report=0
c --reportall=0
c --reportsolve=0
c --restart=0
c --restartint=0
c --restartmargin=0
c --restartreusetrail=0
c --restoreall=0
c --restoreflush=0
c --reverse=0
c --score=0
c --scorefactor=0
c --seed=0
c --shrink=0
c --shrinkreap=0
c --shuffle=0
c --shufflequeue=0
c --shufflerandom=0
c --shufflescores=0
c --stabilize=0
c --stabilizefactor=0
c --stabilizeint=0
c --stabilizemaxint=0
c --stabilizeonly=0
c --subsume=0
c --subsumebinlim=0
c --subsumeclslim=0
c --subsumeint=0
c --subsumelimited=0
c --subsumemaxeff=0
c --subsumemineff=0
c --subsumereleff=0
c --subsumestr=0
c --target=0
c --terminateint=0
c --ternary=0
c --ternarymaxadd=0
c --ternarymaxeff=0
c --ternarymineff=0
c --ternaryreleff=0
c --ternaryrounds=0
c --transred=0
c --transredmaxeff=0
c --transredmineff=0
c --transredreleff=0
c --vivify=0
c --vivifymaxeff=0
c --vivifymineff=0
c --vivifyonce=0
c --vivifyredeff=0
c --vivifyreleff=0
c --walk=0
c --walkmaxeff=0
c --walkmineff=0
c --walknonstable=0
c --walkredundant=0
c --walkreleff=0
p cnf 2 1
0
